<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sii.rental.ui.rental"
            name="Rental">
      </category>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.RentalPropertyView"
            id="com.sii.rental.ui.rentalproperty"
            name="RentalPropertyView"
            restorable="true">
      </view>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.AgencyView"
            id="com.sii.rental.ui.agency"
            name="AgencyView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sii.rental.ui.views.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspective"
            name="Rental">
      </perspective>
      <perspective
            class="com.sii.rental.ui.views.RentalPerspectiveSA"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspectivesa"
            name="RentalSA">
      </perspective>
   </extension>

</plugin>
