<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sii.rental.ui.rental"
            name="%category.name">
      </category>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.RentalPropertyView"
            id="com.sii.rental.ui.rentalproperty"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.AgencyView"
            id="com.sii.rental.ui.agency"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.CustomerView"
            id="com.sii.rental.ui.customerView"
            name="CustomerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sii.rental.ui.perspectives.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspective"
            name="%perspective.name">
      </perspective>
      <perspective
            class="com.sii.rental.ui.perspectives.RentalPerspectiveSA"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspectivesa"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sii.rental.ui.preferences.RentalPreferencePage"
            id="com.sii.rental.ui.rentalpreferencepage"
            name="%page.name">
      </page>
      <page
            category="com.sii.rental.ui.rentalpreferencepage"
            class="com.sii.rental.ui.preferences.ColorPreferencePage"
            id="com.sii.rental.ui.colorpreferencepage"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.sii.rental.ui.menus.sampleMenu"
               label="%menu.label">
            <command
                  commandId="com.sii.rental.ui.commands.sampleCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <menu
               id="com.sii.rental.ui.menus.rentalMenu"
               label="%menu.label.0">
            <command
                  commandId="com.sii.rental.ui.commands.sampleCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sii.rental.ui.agency?after=additions">
         <menu
               id="com.sii.rental.ui.menus.rentalMenu"
               label="%menu.label.1">
            <command
                  commandId="com.sii.rental.ui.commands.sampleCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sii.rental.ui.handlers.SampleHandler"
            id="com.sii.rental.ui.commands.sampleCommand"
            name="%command.name">
      </command>
   </extension>

</plugin>
