<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sii.rental.ui.rental"
            name="Rental">
      </category>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.RentalPropertyView"
            id="com.sii.rental.ui.rentalproperty"
            name="RentalPropertyView"
            restorable="true">
      </view>
      <view
            category="com.sii.rental.ui.rental"
            class="com.sii.rental.ui.views.AgencyView"
            id="com.sii.rental.ui.agency"
            name="AgencyView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sii.rental.ui.perspectives.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspective"
            name="Rental">
      </perspective>
      <perspective
            class="com.sii.rental.ui.perspectives.RentalPerspectiveSA"
            icon="icons/Agency.png"
            id="com.sii.rental.ui.rentalperspectivesa"
            name="RentalSA">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sii.rental.ui.preferences.RentalPreferencePage"
            id="com.sii.rental.ui.rentalpreferencepage"
            name="Rental">
      </page>
      <page
            category="com.sii.rental.ui.rentalpreferencepage"
            class="com.sii.rental.ui.preferences.ColorPreferencePage"
            id="com.sii.rental.ui.colorpreferencepage"
            name="Colors">
      </page>
   </extension>

</plugin>
